.banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(banner.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 0;

}

.banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:400px;
    background: linear-gradient(#121212,transparent);
    pointer-events: none;
}

.banner:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:400px;
    background: linear-gradient(360deg,#121212,transparent);
    pointer-events: none;
}

.h100{
    height: 100%;
}

.contentBox{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;

}

.contentBox h1{
    font-weight: 800;
    color:#fff;
    text-transform: uppercase;
    font-size: 5rem;
}

.contentBox p{
    color:#fff;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.contentBox h2{
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 50px;
}

.content{
    margin-top: 50px;
    margin-bottom: 15px;
}

.border-1{
    border-top: 1px solid #dc2f02;
    border-bottom: 1px #dc2f02;
    padding-bottom: 30px;
}

.border-2{
    padding: 30px 15px;
    background-color: rgba(255,255,255,0.08);
    border-radius: 15px;
}

.content h3{
    font-weight: 500;
    color:#fff;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.content h4{
    font-weight: 500;
    color:#fff;
    font-size: 1.4rem;
}

.content h5{
    font-weight: 400;
    color:#fff;
    font-size: 1rem;
    margin: 10px;
}


.sec1{
    padding: 50px 0;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chartBox{
    padding: 20px;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.08);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h400{
    height: 400px;
}

.chartBox .w100{
    width: 100%;
}

.chartBox .box{
    width: 100%;
    margin: 20px auto;
}

.chartBox .box1{
    width: 100%;
    margin: 20px auto;
}

.chartBox .box2{
    width: 100%;
    margin: 20px auto;
}

.btnD1{
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 1rem;
    outline: none;
    font-weight: 500;
    margin-top: 20px;
}

.myTable{
    width: 100%;
}

.myTable tbody td,
.myTable tbody th{

    font-size: 1rem;
    color: #fff;
    padding: 12px;
    border-bottom: 1px solid #474898;
}

.myTable tr:nth-child(even){
    background-color:  rgba(255,255,255,0.1);
}

.myTable tr:nth-child(odd){
    background-color:  rgba(255,255,255,0);
}

.myTable tr:hover {
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

.myTable thead th{
    font-size: 1.3rem;
    background-color: #474898;
    color: #fff;
    padding: 15px;
    border-bottom: 3px solid #fff;
}

@media (max-width: 992px){
    .banner{
        min-height: 100vh;
        padding: 100px 0;
    }
    .contentBox h1,
    .contentBox h2{
        font-size: 2rem;
    }
    .content{
        margin-top: 30px;
    }
    .content h3{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    .content h4{
        font-size: 1.2rem;
    }

    .contentBox p {
        font-size: 1rem;
    }
    .chartBox{
        margin-top: 30px;
    }
    .h400{
        height: 300px;
    }
    .myTable tbody td,
    .myTable tbody th{
        font-size: 0.5rem;
        padding: 5px;
    }
    .myTable thead th{
        font-size: 0.6rem;
        padding: 6px;
    }
}
