@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    outline: none !important;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000000;

}

.loader{
    width: 8rem;
    height: 8rem;
}

.loader-inner{
    width: 100%;
    height: 100%;
    border: 0.5rem solid #000;
    border-radius: 50%;
    border-bottom-color: #fff;
    border-top-color: #fff;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.5) rotate(-180deg);
    }
    100%{
        transform: scale(1) rotate(-360deg);
    }
}

header{
    position: relative;
    z-index: 1000000;
}

p{
    font-size: 1.15rem;
}

.navbar{
    background: transparent !important;
    transition: 0.5s;
}

.navbar.scrolled{
    background: #000 !important;
    transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show{
    color: #000;
    background: #fff;
}

.navbar-light .navbar-nav .active>.nav-link:hover{
    color:#000;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
    color: rgba(255,255,255,1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255,255,255,1);
    font-size: 2.5rem;
    font-weight: 500;
}

.dropdown-menu{
    background: rgba(0,0,0,0.8);
}
.dropdown-item{
    color: #fff;
}

.banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(img10.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 0px;

}

.cardD1{
    color: #fff;
    background: #000;
    text-align: center;
}

.cardD1 h4{
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main{
    padding: 100px 0;
    background: #000;
}

.banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:400px;
    background: linear-gradient(#000,transparent);
    pointer-events: none;
}

.banner:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:400px;
    background: linear-gradient(360deg,#000,transparent);
    pointer-events: none;
}

.h100{
    height: 100%;
}

.contentBox{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;

}

.contentBox h1{
    font-weight: 800;
    color:#fff;
    text-transform: uppercase;
    font-size: 5rem;
}

.contentBox p{
    color:#fff;
    font-size: 1.3rem;
}

.sec1{
    padding: 100px 0 0 0;
    background: #000;
}


.headerText{
    color: #fff;
    margin-bottom: 70px;
}
.headerText h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.headerText h4{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.headerText pre{
    color: #fff;
}

.imgBx2{
    width: 100%;
    height: 100%;
}

.imgBx2 img{
    width: 14rem;
    height: 18rem;

    object-fit: cover;
}

.btnD1{
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    outline: none;
    font-weight: 500;
    margin: 30px 0;
}

.btnD1:hover,
.btnD1:focus{
    color: blue;
}

.btnD2{
    margin: 57px 0;
}

.content h3{
    position: relative;
    margin: 0;
    padding: 10px;
    background: rgba(0,0,0,0.9);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

#Gamal{
    background-image: url(ain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

#Mohamed{
    background-image: url(ain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.sec2{
    position: relative;
    padding: 200px 0 0 0;
    background: rgba(0,0,0,0.8);
}

.sec4{
    position: relative;
    background: url(lowerlimbs.png);
    width:100%;
    background-position: center;
    background-size: cover;
    background-color: black;
    margin-bottom: 0;
    padding: 20px 30px;
}
.banner:before,
.sec4:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#000,transparent);
    pointer-events: none;
}

.banner:after,
.sec4:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(360deg,#000,transparent);
    pointer-events: none;
}

.contentBox1{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;

}


footer{
    background: #000;
    padding: 50px 0 0;
}

.sci{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style: none;
    margin: 0 20px;
}

.contentBox p{
    color:#;
    font-size: 1.3rem;
}

.sci li a{
    color: #777;
    font-size: 2em;
    transition: 0.5s;
}

.sci li a:hover{
    color: #fff;
}

.cpryt{
    margin-top: 20px;
    text-align: center;
    color: #777;
}

.cpryt a,
.cpryt a:hover{
    color: #fff;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (max-width: 992px){
    .navbar-light .navbar-toggler {
        background: #fff;
        border-radius: 0;
    }
    .banner{
        min-height: 100vh;
        padding: 100px 0;
    }
    .contentBox h1,
    .headerText h2{
        font-size: 2rem;
    }

    .contentBox p {
        font-size: 1rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .sec1,
    .sec2,
    .sec3{
        padding: 50px 0;
    }
    p{
        font-size: 1rem;
    }


    .sci li{
        margin: 0 10px;
    }
    .sci li a{
        font-size: 1.5em;
    }
}




.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #f1f1f1;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #000;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #000;
  color: white;
  transform: rotateY(180deg);
}
    outline: none !important;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000000;

}

.loader{
    width: 8rem;
    height: 8rem;
}

.loader-inner{
    width: 100%;
    height: 100%;
    border: 0.5rem solid #000;
    border-radius: 50%;
    border-bottom-color: #fff;
    border-top-color: #fff;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.5) rotate(-180deg);
    }
    100%{
        transform: scale(1) rotate(-360deg);
    }
}

header{
    position: relative;
    z-index: 1000000;
}

p{
    font-size: 1.15rem;
}

.navbar{
    background: transparent !important;
    transition: 0.5s;
}

.navbar.scrolled{
    background: #000 !important;
    transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show{
    color: #000;
    background: #fff;
}

.navbar-light .navbar-nav .active>.nav-link:hover{
    color:#000;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
    color: rgba(255,255,255,1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255,255,255,1);
    font-size: 2.5rem;
    font-weight: 500;
}

.dropdown-menu{
    background: rgba(0,0,0,0.8);
}
.dropdown-item{
    color: #fff;
}

.banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(img10.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 0px;

}



.cardD1{
    color: #fff;
    background: #000;
    text-align: center;
}

.cardD1 h4{
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main{
    padding: 100px 0;
    background: #000;
}

.banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:400px;
    background: linear-gradient(#000,transparent);
    pointer-events: none;
}

.banner:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:400px;
    background: linear-gradient(360deg,#000,transparent);
    pointer-events: none;
}



.h100{
    height: 100%;
}

.contentBox{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;

}

.contentBox h1{
    font-weight: 800;
    color:#fff;
    text-transform: uppercase;
    font-size: 5rem;
}

.contentBox p{
    color:#fff;
    font-size: 1.3rem;
}

.sec1{
    padding: 100px 0 0 0;
    background: #000;
}


.headerText{
    color: #fff;
    margin-bottom: 70px;
}
.headerText h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.headerText h4{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.headerText pre{
    color: #fff;
}

.imgBx2{
    width: 100%;
    height: 100%;
}

.imgBx2 img{
    width: 14rem;
    height: 18rem;

    object-fit: cover;
}

.btnD1{
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    outline: none;
    font-weight: 500;
    margin: 30px 0;
}

.btnD1:hover,
.btnD1:focus{
    color: blue;
}

.btnD2{
    margin: 57px 0;
}

.content h3{
    position: relative;
    margin: 0;
    padding: 10px;
    background: rgba(0,0,0,0.9);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

#Gamal{
    background-image: url(ain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

#Mohamed{
    background-image: url(ain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.sec2{
    position: relative;
    padding: 200px 0 0 0;
    background: rgba(0,0,0,0.8);
}

.sec4{
    position: relative;
    background: url(lowerlimbs.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}
.banner:before,
.sec4:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:400px;
    background: linear-gradient(#000,transparent);
    pointer-events: none;
}

.banner:after,
.sec4:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:400px;
    background: linear-gradient(360deg,#000,transparent);
    pointer-events: none;
}
footer{
    background: #000;
    padding: 50px 0 0;
}

.sci{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style: none;
    margin: 0 20px;
}

.contentBox p{
    color:#;
    font-size: 1.3rem;
}

.sci li a{
    color: #777;
    font-size: 2em;
    transition: 0.5s;
}

.sci li a:hover{
    color: #fff;
}

.cpryt{
    margin-top: 20px;
    text-align: center;
    color: #777;
}

.cpryt a,
.cpryt a:hover{
    color: #fff;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (max-width: 992px){
    .navbar-light .navbar-toggler {
        background: #fff;
        border-radius: 0;
    }
    .banner{
        min-height: 100vh;
        padding: 100px 0;
    }
    .contentBox h1,
    .headerText h2{
        font-size: 2rem;
    }

    .contentBox p {
        font-size: 1rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .sec1,
    .sec2,
    .sec3{
        padding: 50px 0;
    }
    p{
        font-size: 1rem;
    }


    .sci li{
        margin: 0 10px;
    }
    .sci li a{
        font-size: 1.5em;
    }
}




.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #f1f1f1;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #000;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #000;
  color: white;
  transform: rotateY(180deg);
}
