@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    outline: none !important;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000000;

}

.loader{
    width: 8rem;
    height: 8rem;
}

.loader-inner{
    width: 100%;
    height: 100%;
    border: 0.5rem solid #000;
    border-radius: 50%;
    border-bottom-color: #fff;
    border-top-color: #fff;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.5) rotate(-180deg);
    }
    100%{
        transform: scale(1) rotate(-360deg);
    }
}

header{
    position: relative;
    z-index: 1000000;
}

p{
    font-size: 1.15rem;
}

.navbar{
    background: transparent !important;
    transition: 0.5s;
}

.navbar.scrolled{
    background: #000 !important;
    transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show{
    color: #000;
    background: #fff;
}

.navbar-light .navbar-nav .active>.nav-link:hover{
    color:#000;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
    color: rgba(255,255,255,1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255,255,255,1);
    font-size: 2.5rem;
    font-weight: 500;
}

.dropdown-menu{
    background: rgba(0,0,0,0.8);
}
.dropdown-item{
    color: #fff;
}

.banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(img6.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 0;

}

.banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:400px;
    background: linear-gradient(#000,transparent);
    pointer-events: none;
}

.banner:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:400px;
    background: linear-gradient(360deg,#000,transparent);
    pointer-events: none;
}


.h100{
    height: 100%;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 32rem;
  width: 32rem;
}
.contentBox{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;

}

.contentBox h1{
    padding: 20px 30px 20px;
    font-weight: 800;
    color:#fff;
    text-transform: uppercase;
    font-size: 5rem;
}

.contentBox p{
    padding: 0px 30px 20px;
    color:#fff;
    font-size: 1.3rem;
}

.sec1{
    padding: 100px 0;
    background: #000;
}

.contentBox h2{
    font-weight: 800;
    color:#fff;
    text-transform: uppercase;
    font-size: 5rem;
}


.headerText{
    color: #fff;
}
.headerText h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align:center;
}

.headerText h3{
    font-size: 3rem;
    margin-bottom: 20px;
    text-align:center;
}

.headerText h5{
    font-size: 3rem;
    margin-bottom: 20px;
    text-align:center;
}

.imgBx3{
    display: block;
    width: 40rem;
    height: 40 rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size:2px;
    background-position: center;
}

.imgBx3 img{
    width:100%;
    height: 12rem;
    background-position: center;
}

.imgBx2{
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.imgBx2 img{
    width: 12rem;
    height: 12rem;
}

.imgBx{
    width: 100%;
    height: 100%;
}

.imgBx img{
    object-fit: cover;
    width: 60%;
}

.imgBx1{
    width: 100%;
    height: 100%;
}

.imgBx1 img{
    width: 16rem;
    height: 12rem;
    object-fit: cover;
}

.content h3{
    position: relative;
    margin: 0;
    padding: 10px;
    background: rgba(0,0,0,0.9);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.sec2{
    background: #000;
    padding: 100px 0 0 0;
}

.sec2 h2{
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 4.5rem;
}

.cardD1{
    color: #fff;
    background: #000;
    text-align: center;
}

.cardD1 h4{
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.column {
  width: 100%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.btnD1{
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    border-radius: 50px;
    padding: 15px 50px;
    font-size: 1.15rem;
    outline: none;
    font-weight: 500;
    margin-top: 20px;
}


.btnD2{
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    border-radius: 50px;
    padding: 15px 50px;
    font-size: 1.15rem;
    outline: none;
    font-weight: 500;
    margin-top: 20px;
}


.sec3{
    position: relative;
    padding: 100px 20px;
    background: #000;
}


footer{
    background: #000;
    padding: 50px 0 0;
}

.sci{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style: none;
    margin: 0 20px;
}

.sci li a{
    color: #777;
    font-size: 2em;
    transition: 0.5s;
}

.sci li a:hover{
    color: #fff;
}

.cpryt{
    margin-top: 20px;
    text-align: center;
    color: #777;
}

.cpryt a,
.cpryt a:hover{
    color: #fff;
}

@media only screen and (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .column{
     float: left;
     width:25%;
    }
}

@media only screen and (max-width: 992px){
    .navbar-light .navbar-toggler {
        background: #fff;
        border-radius: 0;
    }
    .banner{
        min-height: 100vh;
        padding: 100px 0;
    }
    .contentBox h1,
    .contentBox h2,
    .headerText h2,
    .headerText h3,
    .headerText h5{
        font-size: 2rem;
    }

    .contentBox p {
        font-size: 1rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .sec1{
        padding: 50px 0;
    }
    p{
        font-size: 1rem;
    }
    .btnD1,
    .btnD2{
        padding: 10px 40px;
        margin-top: 10px;
    }

    .sci li{
        margin: 0 10px;
    }
    .sci li a{
        font-size: 1.5em;
    }
}
