{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{ sub.name }}</title>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

    <!-- Bootstrap JS CDN -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--     Fav Icon     -->
    <link rel="shortcut icon" type="image/png" href="https://storage.cloud.google.com/graduationprojectwebsite/static/Pages/Logo.ico" sizes="1500x1500" />
    <!-- font awesome CDN -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>

    <!-- animation on scroll CDN -->
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="{% static 'analysis\person.css' %}" />

</head>
<body id="page-top">
   <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#page-top">
                    <img src="{% static 'website/Logo.png' %}" alt="Logo" style="width:50px;">
                    <span>LLA</span>
                </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item  ">
                        <a href="{% url 'home' %}" class="nav-link js-scroll-trigger">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'technical' %}" class="nav-link js-scroll-trigger">Technical</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a href="#" class="nav-link js-scroll-trigger dropdown-toggle" data-toggle="dropdown">Analysis</a>
                        <div class="dropdown-menu">
                            {% for sub in subjects %}

                            <a class="dropdown-item" href="{% url 'person' sub.id %}">{{ sub.name }}</a>

                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link js-scroll-trigger">Prediction</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link js-scroll-trigger">About Us</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="main" >
        <p class="text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">  Total Statics  </p>
        <div class=" h100">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500">
                        <div class="text-center">
                            <canvas id="total_stridel"width="1500" height="1000"></canvas>
                        </div>
                        <div class=" text-center">
                            <p>Average Stride Length = {{mean_val.0}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2000">
                        <div class="text-center">
                            <canvas id="speed" width="500" height="300"></canvas>
                        </div>
                        <div class=" text-center">
                            <p>Average Speed = {{mean_val.1}}</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <p class="text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0"> Activity: Level Ground Walking</p>
        <br><br>
        <div class=" h100">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="text-center">
                               <canvas id="grd_sl" width="1500" height="1000"></canvas>
                        </div>
                        <div class=" text-center">
                                <p>Average Stride Length = {{data_out2.Avg_stride_length.0}}</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
                        <div class="text-center">
                                <canvas id="grd_speed" width="1500" height="1000"></canvas>
                        </div>
                        <div class=" text-center">
                                <p>Average Speed = {{data_out2.Avg_speed.0}}</p>
                        </div>
                    </div>
                 </div>
            <div class="col-sm-12 col-lg-4">
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500">
                        <div class="text-center">
                                <canvas id="grd_time" width="1500" height="1000"></canvas>
                        </div>
                        <div class="text-center">
                                 <p>Average Time = {{data_out2.Avg_stride_time.0}}</p>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </section>


    <section class="main" >
        <p class="text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">  Activity: Ramp Ascent</p>
        <br><br>
        <div class=" h100">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
                        <div class="text-center">
                               <canvas id="asc_sl" width="1500" height="1000"></canvas>
                        </div>
                        <div class=" text-center">
                                <p>Average Stride Length = {{data_out2.Avg_stride_length.1}}</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="text-center">
                                <canvas id="asc_speed" width="1500" height="1000"></canvas>
                        </div>
                        <div class=" text-center">
                                <p>Average Speed = {{data_out2.Avg_speed.1}}A</p>
                        </div>
                    </div>
                 </div>
            <div class="col-sm-12 col-lg-4">
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
                        <div class="text-center">
                                <canvas id="asc_time" width="1500" height="1000"></canvas>
                        </div>
                        <div class="text-center">
                                 <p>Average Time = {{data_out2.Avg_stride_time.1}}</p>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </section>

    <section class="main" >
        <p class="text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">  Activity: Ramp Descent </p>
        <br><br>
        <div class=" h100">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
                        <div class="text-center">
                               <canvas id="des_sl" width="1500" height="1000"></canvas>
                        </div>
                        <div class=" text-center">
                                <p>Average Stride Length = {{data_out2.Avg_stride_length.2}}</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="text-center">
                                <canvas id="des_speed" width="1500" height="1000"></canvas>
                        </div>
                        <div class=" text-center">
                                <p>Average Speed = {{data_out2.Avg_speed.2}}</p>
                        </div>
                    </div>
                 </div>
            <div class="col-sm-12 col-lg-4">
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
                        <div class="text-center">
                                <canvas id="des_time" width="1500" height="1000"></canvas>
                        </div>
                        <div class="text-center">
                                 <p>Average Time = {{data_out2.Avg_stride_time.2}}</p>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </section>

   <!-- Tables -->

    <div class="main">
            <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Summary ..</h1>
            <br><br>
            <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">Stride length Summary</h2>
            <br><br>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500" id="my_table" class="table table-striped table-dark" > {{ describe_Stride_length | safe }} </div>
    </div>
    <div class="main">
            <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Stride Speed Summary</h2>
            <br><br>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" id="my_table2" class="table table-striped table-dark"> {{ describe_Speed | safe }} </div>
    </div>

    <div  class="main chart-container" >
        <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Total Strides per activity </h3>
        <canvas data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" id="myChart" width="1000" height="450"></canvas>

    </div>
    <div class="main chart-container" >
        <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Total distance per activity </h3>
        <canvas data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" id="bar-chart-horizontal" width="1000" ;  height="450"></canvas>
    </div>

    <div class="main chart-container" >
        <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Time Taken per activity </h3>
        <canvas data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" id="doughnut-chart" width="1000" height="450"></canvas>
    </div>

    <div  class="main chart-container" >
        <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" >Total Calories per activity </h3>
        <canvas data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" id="myChart2" width="1000" height="450"></canvas>

    </div>
    <br><br><br>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="sci">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <p class="cpryt"><a href="#page-top">Back Top</a></p>
                    <p class="cpryt">@ Copyright 2020 Lower Limb Analysis | website by <a href="https://github.com/MazenRefaat23/Lower_Limb_Analysis_Website">Mazen Refaat  & Joseph Moheb</a></p>
                </div>
            </div>
        </div>
    </footer>

    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader-inner">
                <div class="loader-inner"></div>
            </div>
        </div>
    </div>

   <script type="text/javascript">
        $(document).scroll(function(){
            $('.navbar').toggleClass('scrolled', $(this).scrollTop() > $('.navbar').height());
        });
    </script>

   <script type="text/javascript">
        setTimeout(function(){
            $('.loader-wrapper, .load').hide();
        },2000);
    </script>

    <script>


    var lbl_grd = [];
    for (i = 1; i < {{grd_sl}}.length; i++) {
      lbl_grd.push(i);
    }
    var lbl_asc = [];
    for (i = 1; i < {{asc_sl}}.length; i++) {
      lbl_asc.push(i);
    }
    var lbl_des = [];
    for (i = 1; i < {{des_sl}}.length; i++) {
      lbl_des.push(i);
    }
    var lbl_mas = [];
    for (i = 1; i < {{mas_1}}.length; i++) {
      lbl_mas.push(i);
    }


    new Chart(document.getElementById("speed"), {
      type: 'line',
      data: {
        labels: lbl_mas,
        datasets: [{
            data: {{mas_1}},
            label: "Total Speed ",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          bezierCurve: false,
          display: true,
          text: 'Stride Speed (in meter/sec)'
        }
      }
    });
    new Chart(document.getElementById("total_stridel"), {
      type: 'line',
      data: {
        labels: lbl_mas,
        datasets: [{
            data: {{mast_2}},
            label: "Total Stride Length ",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          bezierCurve: false,
          display: true,
          text: 'Stride Length (in meter)'
        }
      }
    });

    new Chart(document.getElementById("grd_sl"), {
      type: 'line',
      data: {
        labels: lbl_grd,
        datasets: [{
            data: {{grd_sl}},
            label: "Level ground walking",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          bezierCurve: false,
          display: true,
          text: 'Stride length (in meter)'
        }
      }
    });

    new Chart(document.getElementById("grd_speed"), {
      type: 'line',
      data: {
        labels: lbl_grd,
        datasets: [{
            data: {{grd_speed}},
            label: "Level ground walking",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          bezierCurve: false,
          display: true,
          text: 'Speed (in meter/sec)'
        }
      }
    });

    new Chart(document.getElementById("grd_time"), {
      type: 'line',
      data: {
        labels: lbl_grd,
        datasets: [{
            data: {{grd_time}},
            label: "Level ground walking",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          bezierCurve: false,
          display: true,
          text: 'Stride time (in sec)'
        }
      }
    });

    new Chart(document.getElementById("asc_sl"), {
      type: 'line',
      data: {
        labels: lbl_asc,
        datasets: [{
            data: {{asc_sl}},
            label: "Ramp ascent",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          bezierCurve: false,
          display: true,
          text: 'Stride length (in meters)'
        }
      }
    });

    new Chart(document.getElementById("asc_speed"), {
      type: 'line',
      data: {
        labels: lbl_asc,
        datasets: [{
            data: {{asc_speed}},
            label: "Ramp ascent",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          bezierCurve: false,
          display: true,
          text: 'Speed (in meter/sec)'
        }
      }
    });

    new Chart(document.getElementById("asc_time"), {
      type: 'line',
      data: {
        labels: lbl_asc,
        datasets: [{
            data: {{asc_time}},
            label: "Ramp ascent",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          bezierCurve: false,
          display: true,
          text: 'Stride time (in sec)'
        }
      }
    });

    new Chart(document.getElementById("des_sl"), {
      type: 'line',
      data: {
        labels: lbl_des,
        datasets: [{
            data: {{des_sl}},
            label: "Ramp descent",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          bezierCurve: false,
          display: true,
          text: 'Stride length (in meters)'
        }
      }
    });

    new Chart(document.getElementById("des_speed"), {
      type: 'line',
      data: {
        labels: lbl_des,
        datasets: [{
            data: {{des_speed}},
            label: "Ramp descent",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          bezierCurve: false,
          display: true,
          text: 'Speed (in meter/sec)'
        }
      }
    });

    new Chart(document.getElementById("des_time"), {
      type: 'line',
      data: {
        labels: lbl_des,
        datasets: [{
            data: {{des_time}},
            label: "Ramp descent",
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          bezierCurve: false,
          display: true,
          text: 'Stride time (in sec)'
        }
      }
    });
    </script>

    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Walking', 'Ramp Ascent', 'Ramp Descent'],
            datasets: [{
                label: '# of Strides',
                data: [{{data_out2.Total_strides.0}},{{data_out2.Total_strides.1}},{{data_out2.Total_strides.2}}],
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>

    <script>
        new Chart(document.getElementById("bar-chart-horizontal"), {
        type: 'horizontalBar',
        data: {
          labels: ["Walking", "Ramp Ascent", "Ramp Descent"],
          datasets: [
            {
              label: "Total Distance",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
              barPercentage: 0.5,
              barThickness: 3,
              data: [{{data_out2.Total_distance.0}},{{data_out2.Total_distance.1}},{{data_out2.Total_distance.2}}]
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'Total Distance for each activity '
          }
        }
    });
     </script>

      <script>
        new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
          labels: ["Walking", "Ramp Ascent", "Ramp Descent"],
          datasets: [
            {
              label: "Time Taken",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
              data: [{{data_out2.Total_time.0}},{{data_out2.Total_time.1}},{{data_out2.Total_time.2}}]
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Time taken for each mode',

          }
        }
    });

      </script>
    <script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Walking', 'Ramp Ascent', 'Ramp Descent'],
            datasets: [{
                label: '',
                data: [{{data_out2.Calories.0}},{{data_out2.Calories.1}},{{data_out2.Calories.2}}],
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>

   <!-- animation on scroll CDN -->

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>
</html>
