{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{ sub.name }}</title>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

<style>
   .column {
  float: left;
  width: 33.33%;
  padding: 13px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.myDiv {
  border: 2px solid black;
  background-color: lightblue;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
</style>

</head>
<body id="page-top">

    <nav class="navbar bg-dark navbar-dark navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <a href="#page-top" class="navbar-brand js-scroll-trigger">
                <img src="{% static 'website/logo.png' %}" alt="Logo" style="width:40px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria- controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link js-scroll-trigger">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'technical' %}" class="nav-link js-scroll-trigger">Technical</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a href="#" class="nav-link js-scroll-trigger dropdown-toggle" data-toggle="dropdown">Analysis</a>
                        <div class="dropdown-menu">

                            {% for s in subjects %}

                            <a class="dropdown-item" href="{% url 'person' s.id %}">{{ s.name }}</a>

                            {% endfor %}

                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link js-scroll-trigger">Prediction</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link js-scroll-trigger">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-3">{{ sub.name }} .. </h1>
    </div>

<h1> Total Statistics </h1>
    <br>
<div class="row">
    <div class="column">
        <canvas id="total_stridel" width="500" height="300"></canvas>
        <div class="myDiv">
            <p>Average Stride Length = {{mean_val.0}}</p>
         </div>
    </div>
    <div class="column">
        <canvas id="speed" width="500" height="300"></canvas>
        <div class="myDiv">
            <p>Average Speed = {{mean_val.1}}</p>
         </div>
    </div>
</div>
 <h1> Activity: Level Ground Walking</h1>
    <br>
<div class="row">
    <div class="column">
         <canvas id="grd_sl" width="500" height="300"></canvas>
         <div class="myDiv">
         <p>Average Stride Length = {{data_out2.Avg_stride_length.0}}</p>
         </div>
    </div>
    <div class="column">
        <canvas id="grd_speed" width="500" height="300"></canvas>
        <div class="myDiv">
         <p>Average Speed = {{data_out2.Avg_speed.0}}</p>
         </div>
    </div>
    <div class="column">
        <canvas id="grd_time" width="500" height="300"></canvas>
        <div class="myDiv">
         <p>Average Time = {{data_out2.Avg_stride_time.0}}</p>
         </div>
    </div>
</div>

<br>
<h1> Activity: Ramp Ascent </h1>
    <br>
<div class="row">
    <div class="column">
        <canvas id="asc_sl" width="500" height="300"></canvas>
        <div class="myDiv">
         <p>Average Stride Length = {{data_out2.Avg_stride_length.1}}</p>
         </div>
    </div>
    <div class="column">
        <canvas id="asc_speed" width="500" height="300"></canvas>
        <div class="myDiv">
         <p>Average Speed = {{data_out2.Avg_speed.1}}</p>
         </div>
    </div>
    <div class="column">
        <canvas id="asc_time" width="500" height="300"></canvas>
        <div class="myDiv">
         <p>Average Time = {{data_out2.Avg_stride_time.1}}</p>
         </div>
    </div>
</div>
    <br>
    <h1> Activity: Ramp Descent </h1>
<br>
<div class="row">

    <div class="column">
        <canvas id="des_sl" width="500" height="300"></canvas>
        <div class="myDiv">
         <p>Average Stride Length = {{data_out2.Avg_stride_length.2}}</p>
         </div>
    </div>

    <div class="column">
        <canvas id="des_speed" width="500" height="300"></canvas>
        <div class="myDiv">
         <p>Average Speed = {{data_out2.Avg_speed.2}}</p>
         </div>
    </div>
    <div class="column">
        <canvas id="des_time" width="500" height="300"></canvas>
        <div class="myDiv">
         <p>Average Time = {{data_out2.Avg_stride_time.2}}</p>
         </div>
    </div>
</div>

    <br>

<h1>Summary ..</h1>
    <h2>Stride length Summary</h2>
    <div id="my_table"> {{ describe_Stride_length | safe }} </div>
    <h2>Stride Speed Summary</h2>
    <div id="my_table2"> {{ describe_Speed | safe }} </div>
    <br>
    <div class="chart-container" style="position: relative;float:left;left:20px height:40vh; width:60vw">
        <h3>Total Strides per activity </h3>
        <canvas id="myChart" width="1000" height="450"></canvas>
        <br>
    </div>
    <br>
    <br>

    <div class="chart-container" style="position: relative;float:left;left:20px height:40vh; width:60vw">
        <h3>Total distance per activity </h3>
        <canvas id="bar-chart-horizontal" width="1000" height="450"></canvas>
        <br>
    </div>
    <br>
    <br>

    <div class="chart-container" style="position: relative;float:left;left:20px height:40vh; width:60vw">
        <h3>Time Taken per activity </h3>
        <canvas id="doughnut-chart" width="1000" height="450"></canvas>
        <br>
    </div>
    <br>
    <div class="chart-container" style="position: relative;float:left;left:20px height:40vh; width:60vw">
        <h3>Total Calories per activity </h3>
        <canvas id="myChart2" width="1000" height="450"></canvas>
        <br>
    </div>
    <br>
    <br>

<script>


var lbl_grd = [];
for (i = 1; i < {{grd_sl}}.length; i++) {
  lbl_grd.push(i);
}
var lbl_asc = [];
for (i = 1; i < {{asc_sl}}.length; i++) {
  lbl_asc.push(i);
}
var lbl_des = [];
for (i = 1; i < {{des_sl}}.length; i++) {
  lbl_des.push(i);
}
var lbl_mas = [];
for (i = 1; i < {{mas_1}}.length; i++) {
  lbl_mas.push(i);
}


new Chart(document.getElementById("speed"), {
  type: 'line',
  data: {
    labels: lbl_mas,
    datasets: [{
        data: {{mas_1}},
        label: "Total Speed ",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      bezierCurve: false,
      display: true,
      text: 'Stride Speed (in meter/sec)'
    }
  }
});
new Chart(document.getElementById("total_stridel"), {
  type: 'line',
  data: {
    labels: lbl_mas,
    datasets: [{
        data: {{mast_2}},
        label: "Total Stride Length ",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      bezierCurve: false,
      display: true,
      text: 'Stride Length (in meter)'
    }
  }
});

new Chart(document.getElementById("grd_sl"), {
  type: 'line',
  data: {
    labels: lbl_grd,
    datasets: [{
        data: {{grd_sl}},
        label: "Level ground walking",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      bezierCurve: false,
      display: true,
      text: 'Stride length (in meter)'
    }
  }
});

new Chart(document.getElementById("grd_speed"), {
  type: 'line',
  data: {
    labels: lbl_grd,
    datasets: [{
        data: {{grd_speed}},
        label: "Level ground walking",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      bezierCurve: false,
      display: true,
      text: 'Speed (in meter/sec)'
    }
  }
});

new Chart(document.getElementById("grd_time"), {
  type: 'line',
  data: {
    labels: lbl_grd,
    datasets: [{
        data: {{grd_time}},
        label: "Level ground walking",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      bezierCurve: false,
      display: true,
      text: 'Stride time (in sec)'
    }
  }
});

new Chart(document.getElementById("asc_sl"), {
  type: 'line',
  data: {
    labels: lbl_asc,
    datasets: [{
        data: {{asc_sl}},
        label: "Ramp ascent",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      bezierCurve: false,
      display: true,
      text: 'Stride length (in meters)'
    }
  }
});

new Chart(document.getElementById("asc_speed"), {
  type: 'line',
  data: {
    labels: lbl_asc,
    datasets: [{
        data: {{asc_speed}},
        label: "Ramp ascent",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      bezierCurve: false,
      display: true,
      text: 'Speed (in meter/sec)'
    }
  }
});

new Chart(document.getElementById("asc_time"), {
  type: 'line',
  data: {
    labels: lbl_asc,
    datasets: [{
        data: {{asc_time}},
        label: "Ramp ascent",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      bezierCurve: false,
      display: true,
      text: 'Stride time (in sec)'
    }
  }
});

new Chart(document.getElementById("des_sl"), {
  type: 'line',
  data: {
    labels: lbl_des,
    datasets: [{
        data: {{des_sl}},
        label: "Ramp descent",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      bezierCurve: false,
      display: true,
      text: 'Stride length (in meters)'
    }
  }
});

new Chart(document.getElementById("des_speed"), {
  type: 'line',
  data: {
    labels: lbl_des,
    datasets: [{
        data: {{des_speed}},
        label: "Ramp descent",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      bezierCurve: false,
      display: true,
      text: 'Speed (in meter/sec)'
    }
  }
});

new Chart(document.getElementById("des_time"), {
  type: 'line',
  data: {
    labels: lbl_des,
    datasets: [{
        data: {{des_time}},
        label: "Ramp descent",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      bezierCurve: false,
      display: true,
      text: 'Stride time (in sec)'
    }
  }
});
</script>


  <script>
    new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["Walking", "Ramp Ascent", "Ramp Descent"],
      datasets: [
        {
          label: "Time Taken",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
          data: [{{data_out2.Total_time.0}},{{data_out2.Total_time.1}},{{data_out2.Total_time.2}}]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Time taken for each mode',

      }
    }
});

  </script>
<script>
var ctx = document.getElementById('myChart2').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Walking', 'Ramp Ascent', 'Ramp Descent'],
        datasets: [{
            label: '',
            data: [{{data_out2.Calories.0}},{{data_out2.Calories.1}},{{data_out2.Calories.2}}],
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

</body>
</html>